/.vscode
/chrome-driver
/config.json
/LinkedInJobScrapper_oldbkp.py
/py-linkedin-scrapper-venv
/test.py
/__pycache__
/LinkedInJobScrapper_v1.py
/linkedin-jobs-scrapper/__pycache__/LinkedInJobScrapper.cpython-39.pyc
/Dockerfile
/linkedin-jobs-scrapper/loginGUI.py
